<div class="row">
  <label for="<%= field_name %>" class="control-label col-sm-2"><%= field_title %>:</label>
  <div class="col-sm-10 field-wrapper">
  	<textarea class="form-control" rows=3 id="<%= field_name %>"><%= field_value %></textarea>
  	<div class="instructions"><%= field_instructions %></div>
  </div>
</div>
