<div class="form-wrapper">
  <form class="form-horizontal">
    <div class="form-group main-panel">
      <%= partials.validationErrors({ validationErrors: validationErrors }) %>

      <div class="fields">
      	<%= partials.stringInput({ 
          field_name: "name", 
          field_title: "Title of Item", 
          field_value: title.name, 
          field_instructions: "Enter title of work described in the citation (whether book, chapter, essay, article, part of book, etc.).Give the first title that appears in citation, regardless of whether the citation is a review or not.",
          error: _.has(validationErrors, 'name') 
        }) %>
      	<%= partials.dropdownInput({ 
          field_name: "is_review", 
          field_title: "Is the citation a review?", 
          field_value: title.is_review, 
          field_instructions: "",
          options: booleanValues,
          error: _.has(validationErrors, 'is_review') 
        }) %>
        
<!-- TODO should only appear if citation is a review  -->
        <%= partials.textAreaInput({ 
          field_name: 'review_full_text', 
          field_title: 'Fields Specific to Reviews', 
          field_value: title.review_full_text, 
          field_instructions: 'Usually signalled by the phrase “review of,” or a book title as title; citations of reviews are complex and can include multiple authors, titles, and, sometimes, publication information. Reviews may be written for books, articles, events, performances, and other works.', 
          error: _.has(validationErrors, 'review_full_text') 
        }) %>

      	<%= partials.stringInput({ 
          field_name: "serial_title", 
          field_title: "Serial Title", 
          field_value: title.serial_title, 
          field_instructions: "Provide the title of the serial publication.",
          error: _.has(validationErrors, 'serial_title') 
        }) %>
        
      	<%= partials.stringInput({ 
          field_name: "serial_volume_as_appears", 
          field_title: "Serial Volume Number", 
          field_value: title.serial_volume_as_appears, 
          field_instructions: "Provide the volume number as it appears on the work, whether in Roman or Arabic numerals.",
          error: _.has(validationErrors, 'serial_volume_as_appears') 
        }) %>
        
      	<%= partials.stringInput({ 
          field_name: "serial_issue_as_appears", 
          field_title: "Serial Issue Number", 
          field_value: title.serial_issue_as_appears, 
          field_instructions: "Provide the issue number as it appears on the work, whether in Roman or Arabic numerals.",
          error: _.has(validationErrors, 'serial_issue_as_appears') 
        }) %>
        
      </div>       
    </div>
  </form>
</div>

<!-- 

Field: encompassing_title_id
Type: belongs_to encompassing_title
Display Name: Encompassing Title
Instructions: Some citations will reference parts of items-- articles are parts of magazines/journals/newspapers, chapters are parts of books. Use this field ONLY to identify the title of the larger entity, as listed in the citation.
Notes: This is a reference field to the encompassing title table.
Required: No
Ref #: 23

Field: editors
Type: has_many people
Display Name: Editors
Instructions: Multiple fields are provided for information related to each editor of the work described in the citation. Please add editors in the order they appear in publication. For each editor, first transcribe name as it appears (ex: Azibo III, Reverend Daudi Ajaniya).
Notes: This is a has_many field. For each entry, there is a reference field to the people table.
Required: No
Ref #: 21

Field: authors
Type: has_many people
Display Name: Authors
Instructions: Use procedure described above for editors.
Notes: This is a has_many field. For each entry, there is a reference field to the people table.
Required: No
Ref #: 21

Field: contributors
Type: has_many people
Display Name: Contributors
Instructions: Use procedure described above for editors.
Notes: This is a has_many field. For each entry, there is a reference field to the people table.
Required: No
Ref #: 21

Field: publisher_id
Type: belongs_to publisher
Display Name: Publication Information
Instructions: Enter the publisher name as it appears in the citation.
Notes: Reference field to the publishers table.
Required: No
Ref #: 27 -->