<h1><%= pageTitle %></h1>

<div class="form-wrapper">
  <form class="form-horizontal">
    <div class="form-group main-panel">
      
    <%= partials.validationErrors({ validationErrors: validationErrors }) %>
      
		<%= partials.stringInput({ 
      field_name: "bib-title", 
      field_title: "Title", 
      field_value: biblioSet.title, 
      field_instructions: "Transcribe the title as appears on title page.",
      error: _.has(validationErrors, 'bib-title') 
    }) %>
    
		<%= partials.dropdownInput({ 
      field_name: "bib-genre", 
      field_title: "Genre", 
      field_value: biblioSet.genre, 
      field_instructions: "Select a genre for this biblbiography. Is it a series or a single item?", 
      options: DiBB.Genres.genres,
      error: _.has(validationErrors, 'bib-genre') 
    }) %>
		
    <%= partials.stringInput({ 
      field_name: "bib-other-genre", 
      field_title: "Other Genre", 
      field_value: biblioSet.other_genre, 
      field_instructions: "Add a genre that is not on the above list.", 
      error: _.has(validationErrors, 'bib-other-genre') 
    }) %>
    
    </div>
	  <div class="biblio-panel">
		  <p>Loading...</p>
	  </div>
    <div class="actions">
      <button type="button" class="btn btn-primary save-button">Save</button>
      <button type="button" class="btn btn-default cancel-button">Cancel</button>
    </div>
  
  </form>
</div>
