<h1>Graphs</h1>

<div class="table-wrapper">    
  
  <table id="bibliograph-table" class="table table-striped" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% _.each( bibliographs, function( bibliograph ) { %>
        <tr id="graphid-<%= bibliograph.id %>">
            <td><%= bibliograph.name %></td>
            <td><%= bibliograph.created_by %></td>
            <td><%= bibliograph.created_at %></td>
            <td>
              <button href="#" class="btn delete-button btn-danger btn-sm" data-graphid="<%= bibliograph.id %>" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
            </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <div class="actions">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#new-graph-dialog">Create Graph</button>
    <a href="<%= graphDashboardURL %>" target="_blank" class="btn btn-default">Open Neo4j Dashboard</a>
  </div>
  
</div>

<div id="new-graph-dialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Graph</h4>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <%= partials.validationErrors({ validationErrors: validationErrors }) %>
      		<%= partials.stringInput({ field_name: "bilbiograph-name", field_title: "Name", field_value: defaultGraphName, field_instructions: "Please provide a name for this graph.", error: _.has(validationErrors, 'bilbiograph-name')  }) %>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary create-graph-button">Create</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
