<h3>Single Item</h3>
<%= partials.primaryTab({ biblio: biblio, partials: partials }) %>
<%= partials.referenceTab({ biblio: biblio, partials: partials }) %>
<%= partials.physicalTab({ biblio: biblio, partials: partials }) %>
<%= partials.editorialTab({ biblio: biblio, partials: partials }) %>
<%= partials.citationsTab({ biblio: biblio, partials: partials }) %>
