<h1><%= pageTitle %></h1>

<div class="form-wrapper">
  <form class="form-horizontal">
    <div class="form-group">
		<%= partials.stringInput({ field_name: "bib-title", field_title: "Title", field_value: biblio_set.title, field_instructions: "Transcribe the title as appears on title page." }) %>
		<%= partials.dropdownInput({ field_name: "bib-genre", field_title: "Genre", field_value: biblio_set.genre, field_instructions: "", options: genreList }) %>

    </div>
	  <%= partials.singleItem({ biblio: biblio_set.items, partials: partials }) %>
	  <%= partials.serialList({ biblio: biblio_set.items, partials: partials }) %>
	  <%= partials.volumeList({ biblio: biblio_set.items, partials: partials }) %>

    <div class="actions">
      <button type="button" class="btn btn-primary save-button">Save</button>
      <button type="button" class="btn btn-default cancel-button">Cancel</button>
    </div>
  
  </form>
</div>
