<h1>Graphs</h1>

<div class="table-wrapper">    
  
  <table id="bibliograph-table" class="table table-striped" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% _.each( bibliographs, function( bibliograph ) { %>
        <tr id="graphid-<%= bibliograph.id %>">
            <td><%= bibliograph.name %></td>
            <td><%= bibliograph.created_by %></td>
            <td><%= bibliograph.created_at %></td>
            <td>
              <button href="#" class="btn delete-button btn-danger btn-sm" data-graphid="<%= bibliograph.id %>" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
            </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <% if( rendering ) { %>
    <div class="in-progress">
      <h4><img src="<%= DiBBSettings.inProgressSpinner %>"></img> Rendering Graph...</h4>
    </div>
  <% } %>

  <div class="actions">
    <% if( rendering ) { %>
      <a class="btn btn-primary" disabled>Create Graph</a>
    <% } else { %>
      <a class="btn btn-primary new-graph-button">Create Graph</a>
    <% } %>
    <a href="<%= graphDashboardURL %>" target="_blank" class="btn btn-default">Open Neo4j Dashboard</a>
  </div>

  
</div>

<div id="new-graph-dialog-container"></div>
