<h4>Publication Places</h4>
<table class="table" >
  <thead>
      <tr>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <% _.each( publicationPlaces, function( publicationPlace ) { %>
      <tr id="publication-place-<%= publicationPlace.id %>">
          <%= partials.stringInputCell({ 
            field_name: 'city', 
            field_placeholder: 'City as printed.', 
            field_value: publicationPlace.city 
          }) %>
          <%= partials.stringInputCell({ 
            field_name: 'state', 
            field_placeholder: 'State as printed.', 
            field_value: publicationPlace.city 
          }) %>
          <%= partials.stringInputCell({ 
            field_name: 'country', 
            field_placeholder: 'Country as printed.', 
            field_value: publicationPlace.city 
          }) %>
          <td>
          <a href="#" class="btn delete-publication-place-button btn-danger btn-sm" data-publication-id="<%= publicationPlace.id %>" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<a href="#" class="btn add-publication-place-button btn-default">Add</a>