<h4>Place of Publication</h4>
<div class="instructions">Use the table below to record the place(s) of publication as printed in the bibliography. Click 'New Place' to add an entry.</div>
<table class="table" >
  <thead>
      <tr>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody id="publication-places-tbody">
    <% _.each( publicationPlaces, function( publicationPlace ) { %>
      <tr id="publication-place-<%= publicationPlace.id %>">
        <td><%= publicationPlace.get('city') %></td>
        <td><%= publicationPlace.get('state') %></td>
        <td><%= publicationPlace.get('country') %></td>
        <td>
          <button href="#" class="btn edit-publication-place-button btn-default btn-sm" data-place-cid="<%= publicationPlace.cid %>" >Edit</button>
          <button href="#" class="btn delete-publication-place-button btn-danger btn-sm" data-place-cid="<%= publicationPlace.cid %>" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<button class="btn btn-sm add-publication-place-button btn-default">New Place</button>
