<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
  <title><%= SITE_PREFIX %>The Digital Black Bibliographic Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Load directly from CDN until asset pipeline gem is updated to 1.10.10 -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? && current_user.enabled? %>
    <%= render partial: 'layouts/header' %>
  <% end %>
  <div class="content">
      <%= yield %>
  </div>
</body>
</html>
