<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
  <title><%= SITE_PREFIX %>The Digital Black Bibliographic Project</title>
  <%= stylesheet_link_tag    'dibb', media: 'all' %>
  <%= javascript_include_tag 'dibb' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render partial: 'layouts/header' %>
  <% end %>
  <div class="content">
      <%= yield %>
  </div>
</body>
</html>
